* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

label {
    display: block;
}

form {
    margin: 30px auto;
    width: 50%;
}

input,
select {
    margin-bottom: 1em;
}

p {
    margin-bottom: 2em;
}
